node_modules
build
dist
data
*.env
dbfiles
!README.md
!LICENSE.md
*.md
.DS_Store
package-lock.json
init.ts
tags.ts
onInit.ts
select.ts
onSelect.ts
confirm.ts
onConfirm.ts
cancel.ts
onCancel.ts
onSearch.ts
